// Colors

$yellow : #FDC500;
$primary: #461d5c;
$primary02: #5b3274;
$primary03: #9686f5;
$primary04: #c7beff;

$black:#201e1f;
$white: #fbfbff;

$gris: #E5DDEB;
$grisOscuro: #686868;
$grisClaro: #939597;

$pureBlack: #000;
$pureWhite: #fff;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Tipografia

$principalTypography: 'Poppins', sans-serif;

