@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


.about {
    margin-top: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2.5rem;
    gap: 5rem;



    &__PrinciaplTitle {
        @include principalTitle
    }

    &__container {
        width: 100%;
        margin: 0 auto;

        @include m.tablet {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }

        @include m.desktop {
            padding: 0 10rem;
            gap: 8rem;
        }
    }

    // &__imageContainer{
    //     // width: 100%;
    //     // height: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    // }

    &__image {
        width: 80%;
        @include shadow;
        margin: 0 auto;

        @include m.tablet {
            width: 40%;
        }

        @include m.desktop {
            width: 30%;
        }
    }

    &__textContainer {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        padding: 5rem;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);

        @include m.tablet {
            margin-top: 0;
        }

        @include m.desktop {
            width: 60%;
        }
    }

    &__title {
        color: v.$primary;
    }

    &__paragraph {
        line-height: 1.8;
        font-size: 1.8rem;
        text-align: justify;
        color: v.$black;
    }
}