@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


.banner {
    background-color: #f3f0f5;
    margin: 15rem 0;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // padding: 6rem;

    @include m.tablet {
        padding: 0;
        gap: 5rem;
    }

    &__image {
        display: flex;

        @include m.tablet {
            width: 40%;
        }

        @include m.desktop {
            display: flex;
            width: 20%;
        }

        &:nth-child(2) {
            display: none;

            @include m.tablet {
                display: flex;
                width: 40%;
            }

            @include m.desktop {
                display: flex;
                width: 20%;
            }
        }

        &:nth-child(3) {
            display: none;

            @include m.desktop {
                display: flex;
                width: 20%;
            }
        }

        &:nth-child(4) {
            display: none;

            @include m.desktop {
                display: flex;
                width: 20%;
            }
        }

        &:nth-child(5) {
            display: none;
        }

        &:nth-child(6) {
            display: none;
        }
    }
}