@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


.benefits {
    width: 100%;
    z-index: 200;
    display: flex;
    margin-bottom: 10rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    background-color: v.$white;

    &__container {

        height: 40vh;
        display: flex;
        padding: 0 2.5rem;
        gap: 10rem;
        flex-wrap: nowrap;
        width: 100vw;
        height: 100%;
        

        @include m.tablet{
            padding-left: 7vw;
            gap: 7.5vw;
            // margin-bottom: 15rem;
            // width: 200vw;
        }

         @include m.desktop{
            padding: 5rem 1rem;
            gap: 1rem;
            justify-content: space-evenly;
            width: 100vw;
         }
    }

    &__card {
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-shrink: 0;

        @include m.tablet{
            width: 40vw;
        }

         @include m.desktop{
            width: 20rem;
            height: 100%;
            flex-direction: column;
         }

    }

    &__cardImageContainer {
        padding: 1.5rem;
    }

    &__image{
        @include shadow
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1.5rem;
        height: 100%;
    }

    &__title {
        align-self: start;
        color: v.$primary;
        @include m.desktop {
            text-align: center;
        }
    }

    &__paragraph {
        line-height: 1.8;

        @include m.desktop {
            display: none;
        }
    }

}