@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


.benefits {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2.5rem;
    z-index: 200;

    &__container {
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        @include m.tablet {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
        }

        @include m.desktop {
            grid-template-columns: repeat(4, 1fr);
            gap: 5rem;
            padding: 0 10rem;
        }
    }

    &__card {
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        min-height: 18rem;

        @include m.desktop {
            flex-direction: column;
            width: 20rem;
        }

        &:nth-child(2) {
            display: none;

            @include m.tablet {
                display: flex;
            }
        }

        &:nth-child(3),
        &:nth-child(4) {
            display: none;

            @include m.desktop {
                display: flex;
            }
        }

    }

    &__cardImageContainer {
        padding: 1.5rem;
    }

    &__image{
        @include shadow
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1.5rem;
        height: 100%;
    }

    &__title {
        align-self: start;
        color: #6558d3;
        @include m.desktop {
            text-align: center;
        }
    }

    &__paragraph {
        line-height: 1.8;

        @include m.desktop {
            display: none;
        }
    }

}