@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.header {
   background-color: v.$white;
   width: 100%;
   height: 100vh;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5rem;

   &__menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 6vh;
      background-color: v.$white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 2.5rem;
      z-index: 2;

      @include m.tablet {
         padding: 0 10rem;
      }
   }

   &__logoContainer{
      width: 20rem;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }

   &__logoLink{
      width: 100%;
      height: 100%;
   }

   &__logo {
      width: 50%;
      height: 100%;
   }

   &__nav {
      display: none;

      @include m.desktop {
         display: flex;
      }
   }

   &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 2rem;
   }

   &__link {
      cursor: pointer;
      color: #3F434C;
      font-weight: bold;
      color: v.$primary;
      &:hover{
         color: v.$gris;
      }
   }

   &__textContainer {
      margin: 0 2.5rem;
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      gap: 5rem;
      z-index: 3;

      @include m.desktop {
         width: 50%;
         align-self: start;
         padding: 10rem;
      }
   }

   &__title {
      text-align: center;
      color: #fff;
   }

   &__paragraph {
      text-align: justify;
      line-height: 1.6;
      color: #fff;
   }

   &__btn {
      align-self: center;
      width: 15rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      color: #6558d3;
      border-radius: 6px;
      line-height: 22px;
      padding: 12px 20px;
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      border: 2px solid #6558d3;

      &:hover,
      &:focus {
         background-color: #6558d3;
         color: #fff;
         border: 2px solid #fff;
      }
   }
}