@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.testimonial {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2.5rem;
    gap: 2rem;
    margin-bottom: 10rem;
    padding: 5rem;

    @include m.desktop {
        // width: 40%;
        flex-direction: row;
        gap: 5rem;
        width: 90%;
    }

    &__PrinciaplTitle {
        @include principalTitle;
        margin-bottom: 5rem;
        // @include m.desktop {
        //     display: none;
        // }
    }

    &__boxContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-color: v.$primary;
        border-radius: 16px;
        box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
        color: v.$white;
        padding: 5rem;
        margin-bottom: 5rem;

        &:hover,
        &:focus {
            cursor: pointer;
        }

        @include m.desktop {
            align-self: start;
            width: 100%;
            height: 50rem;
        }

        &:nth-child(2) {
            display: none;

            @include m.desktop {
                display: flex;
                background-color: v.$white;
                color: v.$primary !important;
            }
        }

        &:nth-child(3) {
            display: none;

            @include m.desktop {
                display: flex;
            }
        }
    }

    &__comillas {
        align-self: start;
        width: 5rem;

        @include m.desktop {
            width: 5rem;
        }
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.8;
        color: v.$white;

    }

    &__profile {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 1rem;
    }

    &__photo {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: v.$white;
    }

    &__data {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 1rem;
    }

    &__name {
        color: v.$yellow;
    }

    &__text--Primary{
        color: v.$primary;
    }

}